/* @import url('/fonts/stylesheet.css'); */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .h-sm {
    height: 40rem;
  }
  .h-md {
    height: 48rem;
  }
  .h-lg {
    height: 64rem;
  }
  .h-xl {
    height: 80rem;
  }
  .h-2xl {
    height: 96rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f4b81;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #226199;
}
